.kaboodle-module {
  overflow: hidden;
  margin: 10px auto;
  text-align: center;
}

a.kaboodle-header {
   float: right;
   text-align: right;
   margin: 0px 0px 10px 0px;
   padding: 3px 6px 3px 0px;
   background-color: #333;
   font-size: 14px;
   width: 100%;
   color: white;
}


.kaboodle-item {
  display: inline-block;
  width: 220px;
  overflow: hidden;
  margin: 8px 10px 2px 10px;
  text-align: left;
}

.kaboodle-item p {
  height: 60px;
  margin-bottom: 0px;
  overflow: hidden;
  font-weight: bold;
  font-size: 14px;
  color: black;
}

.kaboodle-item:hover {
  cursor: pointer;
  text-decoration: underline;
}
